## Homework 1

1. What is a markdown cell in jupyter notebook and how do I change a cell from a markdown cell to a code cell? Use a markdown cell type for this answer.

Your answer here (Please use a markdown cell): 
Markdown cell is for texts and for writing documentation, not for code. 
On Mac, press 'esc' and 'M' for markdown cell, and press 'esc' and 'Y' for code cell.

2. In Python, what is the difference between =(single equal) and == (double equal)? Please give an example of each.

Your answer here:
    '=' is for assignment and == is for comparison. 
    'x = 2' assigns 2 to x. 
    'x == 3' would return false.

3. If I am commenting on my code in a cell, what are the two ways to do this in Python?

Your answer here: 
    # for a single line comments and for multi-line comments put """ before and after. `

4. Assign your name, your Yale program, and your year of graduation equal to variables of your choosing. Then write a print statement using an "f string" that says "Hello, my name is (name). I am in Yale's (program) and I hope to graduate in (year)."

In [175]:
#Your answer here: 
name = "Jiyong Lee"
program = "International and Development Economics program"
year = 2024

print(f"Hello, my name is {name}. I am in Yale's {program} and I hope to gradutate in {year}.")

Hello, my name is Jiyong Lee. I am in Yale's International and Development Economics program and I hope to gradutate in 2024.

5. Write the mathematical operators for the following using a markdown cell type and give a code example of each:

For example: plus: +, 3 + 4

minus: -

multiply: *

divide: /

find the remainder of two numbers divided: %

square: (as in 3 squared is 9) ** 2

cube: (as in 2 cubed is 8) ** 3

greater than: >

greater than or equal to: >= 

less than: <

less than or equal to: <=

In [173]:
3 + 4
3 - 4
3 * 4
12 / 6
15 % 7
3 ** 2
2 ** 3
5 > 3
5 >= 5
5 < 4
5 <= 8

True

6. What is the built-in Python function to determine the type of an object? Give four examples of using this function on four different object types.

In [172]:
#Your answer here: 
# type()
print(type(2))
print(type('Python'))
print(type(2.1))
print(type({'a', 'b'}))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'set'>

7. Use the "replace" method in python so that the following occurs:

greeting = "Hello there students!"
becomes
print(greeting)
output: "Hello there Pythonistas!"

In [15]:
#your code here:
greeting = "Hello there students!" 
greeting.replace('students', 'Pythonistas')

'Hello there Pythonistas!'

8.In the following code:
agreement = "Paris Agreement" 
agreement.replace("Paris", "Moon") 
print(agreement)

The output is "Paris Agreement", not "Moon Agreement"

Please explain why that is the case.

Your answer here:
Because the code did not assign the updated expression to a new variable. So 'print(agreement)' returns the original expression.

9. Now fix the code using the replace method so that:
   agreement = "Paris Agreement"
   when you write:
   print(agreement)
   output is "Moon Agreement"

In [16]:
agreement = "Paris Agreement"
agreement = agreement.replace("Paris", "Moon")
print(agreement)

Moon Agreement

Your answer here:

In [17]:
#10. Please explain why the statement returns "False" and write code that fixes the error:
    
.3 + .3 + .3 == .9

False

Due to rounding error, 0.3 in floating-point numbers is slightly below 0.3 and adding twice will give a number slightly smaller than 0.9.

In [176]:
#Your code here:
tolerance = 1e-10
abs(round(0.3, 1) + round(0.3, 1) + round(0.3, 1) - 0.9) < tolerance # from chatgpt 
# I was just doing 'round(0.3, 1) + round(0.3, 1) + round(0.3, 1) == 0.9' and it was still 'False'

True

11. I want to make a tip calculator. Step one:
Please use the input method to accept an input from a user prompting them with "Please enter a price of the meal" and save
 it to the variable "price"

In [26]:
#Your code here:
price = input("Please enter a price of the meal ")

Please enter a price of the meal 12

In [21]:
price

'12'

In [27]:
#12. Here is a script I wrote for a tip calculator:
                        
price = input("Please enter the price of the meal: " )

tip = price * 0.22

total = price + tip

print("A 16% tip would be: ", tip)

print("The total including tip would be: ", total)

# The problem is it throws an error! Can you look at this code and see why it is throwing an error without running it?

Please enter the price of the meal: 12

TypeError: can't multiply sequence by non-int of type 'float'

Your answer here:
price is string so it needs to be changed to float

13. Please fix the above code and run it:

In [28]:
#Your code here:
price = input("Please enter the price of the meal: " )
price = float(price)

tip = price * 0.22

total = price + tip

print("A 16% tip would be: ", tip)

print("The total including tip would be: ", total)

Please enter the price of the meal: 12
A 16% tip would be:  2.64
The total including tip would be:  14.64

14. Write a script that takes a user inputted string and checks whether if they are the following

if it is all alphabets
if it is numeric
if it is all upper case
if it is all lower case

In [29]:
#Your code here:
exp = input("Write down something: ")
#is.alpha(exp)
print(exp.isalpha())
print(exp.isnumeric())
print(exp.isupper())
print(exp.islower())

Write down something: 1234
False
True
False
False

15. Write a script that takes a user inputted target_string of your chosing and prints it out in the following three formats.

All letters capitalized - capitalize( )
All letters lowercase - lower( )
All vowels lowercase and all consonants uppercase

In [177]:
#Your code here
exp = input("Please write a string: ")
exp.capitalize()
exp.lower()

vowel_list = ['a', 'i', 'u', 'e', 'o']
c=''
for a in exp:
    if a in vowel_list:
        b = a.lower()
    else:
        b = a.upper()
    c += b

print(c)

Please write a string: Kyoryu
KYoRYu

16. Assuming a package is not part of the Anaconda build of Python used, how would I:
a. install a package from my terminal?
b. install a package from my Jupyter notebook ?
c. import a package ? 
d. what happens when if I write "import this" but don't name a package? (run it below)

In [174]:
#Your code here:
#a. pip install
#b. pip install
#c. import 
#d. "The Zen of Python, by Tim Peters" -- a 'poem' shows up 
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

17.statement= 'It's truly one of my favorite quotes: "Success depends on intuition, on seeing what afterwards proves to be true but cannot be established at the moment"
#To whom is the previous quote atributed?

Your answer here: Joseph A. Schumpeter # how to get the answer?

In [ ]:
# 18. Copy the code above to the cell below. Run it. Why is it throwing an error? Please fix it.

In [2]:
statement= 'It's truly one of my favorite quotes: "Success depends on intuition, on seeing what afterwards proves to be true but cannot be established at the moment"

SyntaxError: invalid syntax (315873221.py, line 1)

In [3]:
#Your answer here: The second quotation (') is working as the end of the quotation when it should not. 
# Also, at the end, it needs one more ' to close the quotation. 
#Your code here:
statement= 'It\'s truly one of my favorite quotes: "Success depends on intuition, on seeing what afterwards proves to be true but cannot be established at the moment"'

19. Write code, using the strip() method  to remove the white spaces from the beginning and the end of the following and print below:

In [9]:
greeting = "   Hi students. What's going on?!       "
# You answer here: 
# strip()
greeting.strip()

"Hi students. What's going on?!"

In [ ]:
# 20. (2pt) How do you convert a string to all lowercase? Give an example.

In [10]:
# Your answer here: 
# lower()
exp = "HGakjdkjen"
exp.lower()

'hgakjdkjen'

21. (2pt)How do you convert a string to a list in python? Give an example.

In [11]:
# Your answer here: 
# list()
exp = "HGakjdkjen"
list(exp) #

['H', 'G', 'a', 'k', 'j', 'd', 'k', 'j', 'e', 'n']

22. (2pt) How do you convert a string to a tuple in python? Give an example.

In [36]:
# Your answer here: 
# tuple()
exp = "HGakjdkjen"
tuple(exp)

('H', 'G', 'a', 'k', 'j', 'd', 'k', 'j', 'e', 'n')

23. (2pt) How do you convert a string to an int in python? Give an example.

In [18]:
# Your answer here: 
# int()
x = '5'
type(x)
x = int(x)
type(x)

int

24. (2pt) How do you convert a string to a float in python? Give an example.

In [23]:
# Your answer here: 
# float()
x = '5.02846'
type(x)
x = float(x)
type(x)

float

25. (2pt) What are Python's dictionaries? Give an example of a great use for dictionaries.Give an example.

In [26]:
# Your answer here: 
# Dictionaries store elements with a key and a value (there is a key and a value for each dictionary item)
dict0 = {'core1': 'economic development', 'core2': 'econometrics', 
        'elective1': 'applied python', 'elective2': 'health evaluations', 'elective3': 'corporate finance'}
dict0['elective1'] # by its key, we can get its value (like word - meaning relationship in a real dictionary)
# In this code above, I looked up what my first elective was

'applied python'

26. (2pt) Create a dictionary with keys and values. Give an example.

In [27]:
# Your answer here: 
# Dictionary of countries I have been and its 'main' city
dict1 = {'Japan': 'Tokyo', 'Netherlands': 'Amsterdam', 'South Korea': 'Seoul', 
         'United States': 'New York', 'Italy': 'Rome'}

27. (2pt) How do you get all the values from the dictionary? Give an example.

In [28]:
# Your answer here: 
# values()
dict1.values()

dict_values(['Tokyo', 'Amsterdam', 'Seoul', 'New York', 'Rome'])

28. (2pt) How do you get all the keys from the dictionary? Give an example.

In [29]:
# Your answer here: 
# keys()
dict1.keys()

dict_keys(['Japan', 'Netherlands', 'South Korea', 'United States', 'Italy'])

29. (2pt) How do you capitalizes first letter of string? Give an example.

In [32]:
# Your answer here: 
# capitalize()
str0 = 'okonomiyaki'
str0.capitalize()

'Okonomiyaki'

30. (2pt) How do you check in a string that all characters are digits? Give an example.

In [34]:
# Your answer here: 
# isdigit()
str1 = '18746547'
str1.isdigit()

str1 = '1874h547'
str1.isdigit()

False

31. (2pt) How do you check in a string that all characters are alphanumeric? Give an example.

In [35]:
# Your answer here: 
# isalnum()
str1 = 'sjnfri2341'
str1.isalnum()

True

32. (2pt) How do you check in a string that all characters are in lowercase? Give an example.

In [36]:
# Your answer here: 
# islower()
str1 = 'tokyo'
str1.islower()

True

33. (2pt) How do you check in a string that all characters are not numbers. Give an example.

In [38]:
# Your answer here: 
# isnumeric()
str1 = 't6543'
str1.isnumeric()

str1 = '6543'
str1.isnumeric()

True

33. (2pt) How do you get the length of the string? Give an example.

In [41]:
# Your answer here: 
# len()
str1 = '6543'
len(str1)

4

34. (2pt) How do you convert a string to all lowercase? Give an example.

In [42]:
# Your answer here: 
# lower()
str1 = 'January'
str1.lower()

'january'

35. (2pt) How do you remove all leading whitespace in string? Give an example.

In [43]:
# Your answer here: 
# lstrip()
str1 = '      Janaury'
str1.lstrip()

'Janaury'

36. (2pt) What is the difference between del() and remove() methods of list? Give an example.

In [50]:
# Your answer here: 
list0 = ['blue', 'red', 'white', 'orange']
del list0[1] # delete by index
list0

list0 = ['blue', 'red', 'white', 'orange']
list0.remove('red') # delete by value 
list0

['blue', 'white', 'orange']

37. (2pt) How do you get the index of an object in a list? Give an example.

In [52]:
# Your answer here: 
# index()
list0 = ['blue', 'red', 'white', 'orange']
list0.index('blue')

0

38. (2pt) How do you insert an object at given index in a list? Give an example.

In [60]:
# Your answer here: 
# insert(index, item)
list0 = ['blue', 'red', 'white', 'orange']
#list0[1] = 'yellow' # 'red' disappears
#list0

list0.insert(1, 'yellow')
list0

['blue', 'yellow', 'red', 'white', 'orange']

39. (2pt) How do you get the length of a list? Give an example.

In [61]:
# Your answer here: 
# len()
list0 = ['blue', 'red', 'white', 'orange']
len(list0)

4

40. (2pt) How do you remove last object from a list?

In [64]:
# Your answer here: 
# use del with an index -1
list0 = ['blue', 'red', 'white', 'orange']
del list0[-1]
list0

['blue', 'red', 'white']

41. (2pt) How do you reverse a list? Give an example.

In [68]:
# Your answer here: 
# reverse()
a1 = ["a", "b", "c"]
a1.reverse()
a1

['c', 'b', 'a']

42. (2pt) How would you slice a list? Give an example.

In [74]:
# Your answer here: 
# by specifying indices 
list0 = ['blue', 'red', 'white', 'orange', 'yellow', 'green']
list0[1:3]

['red', 'white']

43. (10 pts) Iterate through a list and create a new list with only happy words. A happy is anything above the threshold. Print your happy word list without values (just words).

In [5]:
threshold = 0.5
feelings = [('blue', 0.1), ('melancholy',0.4), ('fine', 0.5 ), ('okay',0.5), ('overjoyed',1.0), ('blissful',0.9), ('chocolately',0.8)]
new_feelings=[]
# your code here:
for item in feelings:
    if item[1] > 0.5:
        new_feelings.append(item[0])
        
new_feelings

['overjoyed', 'blissful', 'chocolately']

44. (5 pts) Take a user input that takes in a user's name, age.
Create an f string that prints "Hello "name", how does it feel to be "age?"
Then create an answer that takes a random choice from your happy_word list, and print "Gee, it feels "answer" to be "age". Thanks for asking!"

In [7]:
# Your code here: "name" and "age"
# used split()
info = input("Please write your name and age : ") # (what if with a comma)
a = info.split()

print(f"Hello {a[0]}, how does it feel to be {a[1]}?")

import random 
answer = random.choice(new_feelings)
print(f"Gee, it feels {answer} to be {a[1]}. Thanks for asking!")

Please write your name and age : jiyong 68
Hello jiyong, how does it feel to be 68?
Gee, it feels overjoyed to be 68. Thanks for asking!

45. (5 pts) Convert the following quote to a single string assigned to the variable Brzezinski, without numbers or special characters. Print the output. Make sure you add quotation marks to the beginning and end of the quote.

In [8]:
quote = [[('Most Americans ^331 are close to total ignorance about the world. They are ignorant. That is an unhealthy condition in a country in which foreign policy has to be endorsed by the people 402 if it is to be pursued. And 404 it makes it much more difficult for any president to pursue an intelligent %%&* policy that does justice to the complexity of the world.')]]

# Your code here:
a=''
str2 = quote[0][0].split()
for item in str2:
    new_str = ''.join(char for char in item if char.isalpha()==True) # isalpha()
    a = a+ ' ' + new_str
    
Brzezinski = a.strip()
Brzezinski

'Most Americans  are close to total ignorance about the world They are ignorant That is an unhealthy condition in a country in which foreign policy has to be endorsed by the people  if it is to be pursued And  it makes it much more difficult for any president to pursue an intelligent  policy that does justice to the complexity of the world'

46. (1pts) There is a wikipedia package for Python! It makes it super easy to collect and parse entries. Install it and print a summary of the Marquis de Lafayette in French.

In [135]:
pip install wikipedia

Collecting wikipedia
  Downloading wikipedia-1.4.0.tar.gz (27 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /Users/jiyonglee/anaconda3/lib/python3.11/site-packages (from wikipedia) (4.12.2)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /Users/jiyonglee/anaconda3/lib/python3.11/site-packages (from wikipedia) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jiyonglee/anaconda3/lib/python3.11/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/jiyonglee/anaconda3/lib/python3.11/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jiyonglee/anaconda3/lib/python3.11/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jiyonglee/anaconda3/lib/python3.11/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2023.11.17)
Requirement already satisfied: soupsieve>1.2 in /Users/jiyonglee/anaconda3/lib/python3.11/site-packages (from beautifulsoup4->wikipedia) (2.4)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Created wheel for wikipedia: filename=wikipedia-1.4.0-py3-none-any.whl size=11680 sha256=05353746a030e705ba5fcf4b16c1939b45c896051674a86a7315b5a8838a344e
  Stored in directory: /Users/jiyonglee/Library/Caches/pip/wheels/8f/ab/cb/45ccc40522d3a1c41e1d2ad53b8f33a62f394011ec38cd71c6
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0
Note: you may need to restart the kernel to use updated packages.

In [144]:
# Your code here:
import wikipedia
wikipedia.set_lang('fr')
wikipedia.summary('the Marquis de Lafayette') # needed 'the'

"Gilbert du Motier, marquis de La Fayette, né le 6 septembre 1757 au château de Chavaniac près de Saint-Georges-d'Aurac (Auvergne, actuel département de la Haute-Loire), et mort le 20 mai 1834 à Paris (ancien 1er arrondissement), est un officier et homme politique français, célèbre en raison de son engagement dans les rangs de l'armée des insurgés américains (1777-1783), puis dans l'aile libérale et réformiste de l'aristocratie française (1784-1792), enfin dans l'opposition libérale au régime de la monarchie de Juillet qu'il avait pourtant contribué à établir lors des Trois Glorieuses (juillet 1830).\nConvaincu de la noblesse de la cause des insurgés américains, il s'engage à leurs côtés en 1777. Nommé général à l'âge de 19 ans par George Washington, La Fayette joue un rôle décisif dans la guerre d'indépendance des États-Unis contre la Grande-Bretagne, notamment lors de la victoire de Yorktown le 19 octobre 1781. Surnommé le « héros des deux mondes », il est depuis 2002 un des huit citoyens d'honneur des États-Unis. Il y fait d'ailleurs à l'invitation du président James Monroe un voyage triomphal en 1824, au cours duquel il est accueilli et honoré dans 182 villes des 24 États que compte l'Union à cette époque.\nAprès avoir combattu aux États-Unis, La Fayette œuvre en France à la rénovation du pouvoir royal, avant de devenir une des grandes personnalités de la Révolution française, avec la rédaction de la déclaration des droits de l'homme et du citoyen et le commandement de la Garde nationale, jusqu'à son émigration en 1792 après avoir déserté son poste en espérant rallier l’armée prussienne. Il est néanmoins arrêté et incarcéré pendant cinq ans par les autorités autrichiennes et prussiennes.\nLa Fayette est aussi un acteur politique majeur de la révolution de Juillet en 1830 et des débuts de la monarchie de Juillet, rompant cependant rapidement avec le roi Louis-Philippe dont il avait soutenu l'accession au trône. Durant cette dernière période de sa vie, il s'affirme aussi comme un soutien majeur à la Pologne après l'insurrection de 1830-1831.\nÀ partir de 1789, La Fayette signe ses courriers « Lafayette » en un seul mot, en réaction contre le système nobiliaire abattu par la révolution. C'est cette graphie qui est utilisée par ses contemporains jusqu'à sa mort."

47. (4pts) Write a function that takes two arguments, name and hometown  and prints a statement that says, "Well hello 'name', you must be from 'hometown' as an f string when called.

In [9]:
#Your code here:
def fun1(name, hometown):
    print(f'Well hello {name}, you must be from {hometown}.')
    
fun1("jiyong", "tokyo") # in quotation mark

Well hello jiyong, you must be from tokyo.

48. Write a script that takes an age as a user input and prints the following, based on conditions, using if, elif, and else:

If the age is 1-18: print "This individual is a minor. Their brain is still growing."
If the age is 19-25: print. "Though the brain may be done growing in size, it does not finish developing and maturing until the mid- to late 20s"
If the age is 26-40: "Accomplish what you can before your brain rots!"
If the age is 41-100: "Don't despair! For the first time, researchers have been able to identify superagers MRI images of the brains of superagers with an average age of 67 are remarkably similar to the brain of 25-year-olds."m

In [12]:
#Your code here:
age = int(input("Write your age: "))
if age >= 1 and age <= 18:
    print("This individual is a minor. Their brain is still growing.")
elif age >= 19 and age <= 25:
    print("Though the brain may be done growing in size,"+
          "it does not finish developing and maturing until the mid- to late 20s.")
elif age >= 26 and age <= 40:
    print("Accomplish what you can before your brain rots!")
elif age >= 41 and age <= 100:
    print("Don't despair! For the first time, researchers have been able to identify superagers MRI images of"+
          "the brains of superagers with an average age of 67 are remarkably similar to the brain of 25-year-olds.")

Write your age: 78
Don't despair! For the first time, researchers have been able to identify superagers MRI images ofthe brains of superagers with an average age of 67 are remarkably similar to the brain of 25-year-olds.

49.Write a while loop that counts down from 20 to "blastoff":

hint: decrement each time using n = n -1 or using -=
n = 20

In [178]:
#Your code here:
n=20
while n>=0:
    print(n)
    n -= 1
print("blastoff")
# while False:

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0
blastoff

50.#Write code, usting the strip method, to remove the unecessary characters, and add a space to print Jackson Python

jackson_string = "grrrrr....ughhhh..JacksonPython@@@!!!!"

In [179]:
jackson_string = "grrrrr....ughhhh..JacksonPython@@@!!!!"
a = jackson_string.strip("gr.ugh@!") # strip(), trailing characters
b=""
for char in a:
    if char == "P":
        b += " "+char
    else:
        b += char
b

'Jackson Python'