# Homework 4:

Below is a link to data collected over many years by Carmen Reinhart (with her coauthors Ken Rogoff, Christoph Trebesch, and Vincent Reinhart). These include Banking Crisis dates for more than 70 countries from 1800-present, exchange rate crises, stock market crises, sovereign debt growth and default, and many other data series. 
Please download here:

https://www.hbs.edu/behavioral-finance-and-financial-stability/data/Pages/global.aspx

For the following, please show me that you know how to use lambda and map functions where possible and efficient.

Q1: Read the data from the excel file into a pandas data frame:

In [1]:
#Your code here:
import pandas as pd

In [2]:
df=pd.read_excel('20160923_global_crisis_data.xlsx') # read excel file 
df=df.rename(columns={'Inflation, Annual percentages of average consumer prices': 'inflation'}) # rename inflation column

Q2. From the dataset, create a new dataframe. Using a lambda function, select only those incidents where the annual inflation rate was 25% or higher. The dataframe should have three columns, Country Name, Year and Inflation rate.

In [3]:
#Your code here:
df['inflation']=pd.to_numeric(df['inflation'], errors='coerce')
# Filter for high inflation
df1=df[df.apply(lambda row: row['inflation']>25, axis=1)] # axis=1 for columns that satisfy the condition

In [4]:
df2=df1[['Country', 'Year', 'inflation']] # new dataframe 
df2

        Country    Year     inflation
78      Algeria  1877.0  2.911605e+01
143     Algeria  1942.0  2.812500e+01
144     Algeria  1943.0  4.634146e+01
145     Algeria  1944.0  4.166667e+01
146     Algeria  1945.0  2.941176e+01
...         ...     ...           ...
15178  Zimbabwe  2004.0  1.327468e+02
15179  Zimbabwe  2005.0  5.858444e+02
15180  Zimbabwe  2006.0  1.281114e+03
15181  Zimbabwe  2007.0  6.627989e+04
15182  Zimbabwe  2008.0  2.198970e+07

[839 rows x 3 columns]

In [5]:
#df['inflation'].mean()
#df2['inflation'].mean()

Q3. Write code to tell me how many countries experienced 25% inflation or higher?

In [6]:
#Your code here:
num_country=df2['Country'].nunique() # df2 from when I filtered for high inflation 
print(f"{num_country} countries experienced 25% inflation or higher.")

61 countries experienced 25% inflation or higher.

In [7]:
#len(list(df2['Country'].unique()))

Q4. How many years across all countries were there events of 25% or higher inflation?

In [8]:
#Your code here:
num_years=df2['Year'].nunique()
print(f"There were {num_years} years where one or more countries experienced high inflation.")

There were 175 years where one or more countries experienced high inflation.

Q5. Of the years where inflaton was 25% or higher, how many of those years resulted in a systemic crisis?

In [9]:
#Your code here
df3=df1[df1.apply(lambda row: row['Systemic Crisis']==1, axis=1)]
df3[['Country', 'Year', 'Systemic Crisis']]
num_years=df3['Year'].nunique()
print(f"{num_years} years resulted in a systemic crisis.")

36 years resulted in a systemic crisis.

Q6. What were the countries and years associated with the total from Q5?

In [10]:
#Your code here:
# List of countries from Q5
list(df3['Country'].unique())

['Algeria',
 'Argentina',
 'Bolivia',
 'Brazil',
 'Chile',
 'China',
 'Costa Rica',
 'Dominican Republic',
 'Ecuador',
 'El Salvador',
 'Ghana',
 'Hungary',
 'Indonesia',
 'Kenya',
 'Mexico',
 'Myanmar',
 'Nicaragua',
 'Nigeria',
 'Peru',
 'Philippines',
 'Poland',
 'Romania',
 'Russia',
 'Spain',
 'Turkey',
 'Uruguay',
 'Venezuela',
 'Zambia',
 'Zimbabwe']

In [11]:
# List of years from Q5
list(df3['Year'].sort_values().unique()) # as int

[1890.0,
 1908.0,
 1937.0,
 1976.0,
 1977.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0]

Q7. At times of civil unrest or war, what was the average interest rate?

In [12]:
#Your code here
test=df
test.dropna(subset=['Defaults_External_Notes'], inplace=True)
# I defined 'civil unrest' using keywords 'civil unrest' and 'war'
# Create an indicator variable for 'civil unrest'
test['indicator']=test['Defaults_External_Notes'].str.contains('|'.join(['war', 'civil unrest']))
# Subsetted data for indicator == 1
test_v1=test.loc[test.indicator]
mean_int_rate=test_v1['inflation'].mean() # Mean among countries and years during 'civil unrest'
print(f"During civil unrest or war, {mean_int_rate:.2f} was the average inflation rate.")

During civil unrest or war, 24.59 was the average inflation rate.

Q8: Create a new dataframe that lists the top five countries with the average highest interest rates historically, 
with a column for the country, and the average rate.

In [13]:
#Your code here:
new_df=df
# Calculate average interest rates across years for each country 
new_df.groupby('Country')['inflation'].mean().sort_values(ascending=False).head()

Country
Hungary      2.676271e+25
Greece       3.684328e+08
Nicaragua    2.159966e+03
Bolivia      5.680008e+02
Russia       3.862344e+02
Name: inflation, dtype: float64

Q9: Create a new dataframe that lists the countries and years where there was "negative inflation".
What does negative inflation mean, and why did it occur?

In [14]:
#Your code here:
new_df1=df
# Filtered for negative inflation
new_df1['neg_inflatiion_indicator']=new_df1.apply(lambda row: row['inflation']<0, axis=1)

In [15]:
neg_inflation=new_df1[new_df1['neg_inflatiion_indicator']==True]
neg_inflation[['Country', 'Year', 'inflation']]

         Country    Year  inflation
527    Argentina  1892.0  -9.868421
528    Argentina  1893.0  -9.051095
873      Austria  1804.0  -3.399989
875      Austria  1806.0  -2.933197
876      Austria  1807.0 -24.742271
...          ...     ...        ...
14632  Venezuela  1892.0  -2.836879
14639  Venezuela  1899.0 -17.117117
14641  Venezuela  1901.0  -1.869159
14642  Venezuela  1902.0  -8.571429
14643  Venezuela  1903.0  -3.125000

[190 rows x 3 columns]

Your words here:
Negative inflation - price levels are decreasing. It can occur during recessions.

## REDUCE
reduce applies a provided function to the items of an iterable (e.g., a list), two items at a time, reducing the iterable to a single value. It takes two arguments: a function and an iterable. Optionally, it can take an initializer as a third argument. The function it takes as the first argument needs to accept two inputs (we can think of them as the accumulator and the current item).

Let's consider calculating the total GDP (Gross Domestic Product) of a list of countries, where each country's GDP is represented as a number in a list. The reduce function will be used to sum up these GDP values to find the total GDP.

In [16]:
from functools import reduce

# List of GDP values for a set of countries (in trillions of USD)
gdp_values = [21.43, 14.34, 5.15, 4.88, 3.86]  # Example values for USA, China, Japan, Germany, India, etc.

# Function to sum two values
def sum_gdp(x, y):
    return x + y

# Use reduce to calculate the total GDP
total_gdp = reduce(sum_gdp, gdp_values)

print("Total GDP:", total_gdp, "trillion USD")

'''gdp_values represents a list of GDPs for different countries.
The sum_gdp function is used to sum two GDP values.
reduce iterates through the gdp_values list, continuously applying sum_gdp to accumulate the total GDP.'''

Total GDP: 49.66 trillion USD

'gdp_values represents a list of GDPs for different countries.\nThe sum_gdp function is used to sum two GDP values.\nreduce iterates through the gdp_values list, continuously applying sum_gdp to accumulate the total GDP.'

Q10.  Now rewrite as a lambda function

In [17]:
#Your code here:
sum_gdp=reduce(lambda x,y: x+y, gdp_values) #gdp_values 
sum_gdp

49.66

Q11. 
Which are the top three countries that experienced the biggest change in exchange rate with the USD from 2007-2008?
Defines a function calculate_percentage_change that utilizes the reduce function to iterate over each row in the dataframe, calculate the percentage change for each country, and then compile the results into a new dataframe. The sort_values method should be then used to identify the top five countries with the highest percentage change based on the calculated values.

In [18]:
#Your code here:
# Filtered for years 2007-2008
df_filtered=df[(df['Year']==2007) | (df['Year']==2008)] 

# Removed data where exchange rate was 0 in either year (since it is likely to be data error)
df_filtered[df_filtered['exch_usd']==0] 
df_filtered_v1=df_filtered[df_filtered['exch_usd']!=0]

In [19]:
def calculate_percentage_change():
    """
    Calculates rate of change in exchange rate for each country
    Returns dataframe with highest growth rate countries at the top 
    """
    def calculate_growth_rate(x, y):  
        """
        Calculates growth rate between two values x and y
        """
        return (y-x)/x
    
    # dataframe of growth rates 
    growth_rate=df_filtered_v1.groupby('Country')['exch_usd'].apply(lambda x: reduce(calculate_growth_rate, x))
    dataframe=growth_rate.sort_values(ascending=False) # returns top growth rate 
    return dataframe

## DECORATORSÂ¶
Decorators in programming, particularly in Python, are used to add functionality to an existing function or method without changing its structure. This is done by wrapping the original function in another function that adds the new functionality, effectively extending or modifying its behavior.

In [20]:
# Let's start with a simple function
def calculate_simple_interest(principal, rate, time):
    """
    Calculate the simple interest for a loan.
    """
    return principal * rate * time

Decorator to Adjust for Inflation

Now, we'll define a decorator that takes the calculated simple interest and adjusts it for inflation. This example assumes a fixed inflation rate for simplicity.

In [21]:
def adjust_for_inflation(func):
    """
    A decorator that adjusts the calculated simple interest by accounting for inflation.
    The inflation rate is assumed to be 2% per annum for this example.
    """
    inflation_rate = 0.02  # 2% inflation rate
    
    def wrapper(principal, rate, time):
        # Calculate the nominal interest using the original function
        nominal_interest = func(principal, rate, time)
        # Adjust the interest for inflation
        real_interest = nominal_interest / ((1 + inflation_rate) ** time)
        return real_interest
    return wrapper

We apply the adjust_for_inflation decorator to the calculate_simple_interest function to automatically adjust the interest calculation for inflation.

In [22]:
@adjust_for_inflation
def calculate_simple_interest(principal, rate, time):
    return principal * rate * time
real_interest = calculate_simple_interest(100, 0.05, 3)
print(f"Real Interest after adjusting for inflation {real_interest:.2f}%")

Real Interest after adjusting for inflation 14.13%

Let's use our decorated function to calculate the real interest, taking into account inflation, and observe how the new decorator modifies the behavior of the original function.

Decorator Function: adjust_for_inflation wraps around calculate_simple_interest to adjust its output. The decorator assumes a constant inflation rate.

Wrapper Function: Inside the decorator, the wrapper function calculates the nominal interest by calling the original calculate_simple_interest function. It then adjusts this nominal interest to account for inflation over the specified time period, using a simple formula to calculate the real interest.

Applying the Decorator: By applying @adjust_for_inflation, every call to calculate_simple_interest now returns the real interest adjusted for inflation, demonstrating how decorators can add significant functionality to existing functions without altering their core logic.

Let me walk you through, step-by-step, a function with decorators that involves calculating the price of a product, adjusting for tax, and then applying a seasonal discount. We'll chain decorators to add these functionalities progressively.

Define a function called "base_price" that simply multiplies the quantity of items by the unit price to find the base price.

In [23]:
def base_price(quantity, unit_price):
    """
    Calculate the base price of a product given the quantity and unit price.
    """
    return quantity * unit_price

Step 2: Add a Decorator to Adjust for Tax
Now, let's define a decorator that takes a tax rate and applies it to the base price calculated by the original function.

In [24]:
def apply_tax(tax_rate):
    """
    Decorator that applies a tax rate to the price of a product.
    """
    def decorator(func):
        def wrapper(quantity, unit_price):
            base = func(quantity, unit_price)
            taxed_price = base * (1 + tax_rate)
            return taxed_price
        return wrapper
    return decorator

@apply_tax(tax_rate=0.07)  # Assume a 7% tax rate
def base_price(quantity, unit_price):
    """
    Calculate the base price of a product given the quantity and unit price.
    """
    return quantity * unit_price

#This decorator adjusts the base price by adding a tax rate to it. Next, we will introduce another layer of modification 
# by applying a seasonal discount through another decorator.

Step 3: Add Another Decorator for Seasonal Discount
Finally, we add a decorator to apply a seasonal discount to the already taxed price. 
This demonstrates how decorators can be chained to sequentially apply multiple modifications or enhancements.

In [25]:
def seasonal_discount(discount_rate):
    """
    Decorator that applies a seasonal discount rate to the product's price.
    """
    def decorator(func):
        def wrapper(quantity, unit_price):
            price_after_tax = func(quantity, unit_price)
            discounted_price = price_after_tax * (1 - discount_rate)
            return discounted_price
        return wrapper
    return decorator

@seasonal_discount(discount_rate=0.1)  # Apply a 10% seasonal discount
@apply_tax(tax_rate=0.07)  # Apply a 7% tax rate
def base_price(quantity, unit_price):
    """
    Calculate the base price of a product given the quantity and unit price.
    """
    return quantity * unit_price

This code calculates the price of a product by first calculating the base price, then adjusting for tax, and finally applying a seasonal discount. Each decorator adds a layer of functionality to the original base_price calculation, demonstrating the power of decorators for composing behaviors in a clean and modular way. This approach allows for flexibility in applying or removing adjustments without altering the core business logic.


To call the base_price function that has been decorated with both the seasonal_discount and apply_tax decorators, you simply need to provide the required arguments: quantity and unit_price. These arguments represent the number of items you're calculating the price for and the cost per item, respectively.

Here's how you can call the base_price function:

In [26]:
# Example of calling the decorated base_price function
quantity = 10  # For example, 10 units of the product
unit_price = 50  # Assume each unit costs $50

final_price = base_price(quantity, unit_price)

print(f"Final price after tax and discount: ${final_price:.2f}")

Final price after tax and discount: $481.50

This call takes into account the sequential application of the decorators: first, the tax is applied to the base price, and then the discounted rate is applied to the already taxed price, reflecting the final sale price of the product.

the @ statements for decorators matters significantly because decorators are applied from the bottom up. This order determines how the function is wrapped and, consequently, how its behavior is modified or extended.
:

Bottom-Up Application: When you stack decorators, the decorator closest to the function (i.e., the one directly above it) is applied first. After that, the next decorator up is applied, and so on. The last decorator (the one at the top) is applied last.

Effect on Functionality: The order can change the result of the function because each decorator potentially modifies the input, output, or behavior of the function it wraps. The modifications made by one decorator are passed on to the next decorator in the stack.

Q12: 
Rewrite this function and change the order of the decorator. Try to do it without copy-paste so that your fingers help you think thorugh the logic. How does it change the behavior? Please answer using words.

In [27]:
#Your code here:
def discount(discount_rate):
    """
    Decorator that applies discount to the original price 
    """
    def decorator(func):
        def wrapper(quantity, price):
            discounted=func(quantity, price)*(1-discount_rate)
            return discounted
        return wrapper
    return decorator

def add_tax(tax_rate):
    """
    Decorator that applies tax to the discounted price 
    """
    def decorator(func):
        def wrapper(quantity, price): 
            discounted=func(quantity, price) # -> price after discount
            taxed=discounted*(1+tax_rate)
            return taxed 
        return wrapper
    return decorator
        
@add_tax(tax_rate=0.1)
@discount(discount_rate=0.3)
def base_price(quantity, price):
    """
    Calculate the base price given original price and quantity 
    """
    total_price=quantity*price
    return total_price

In [28]:
final_price = base_price(20, 100)
print(f"The final price after discount and tax is ${final_price:.2f}")

The final price after discount and tax is $1540.00

Your words here:
Unlike the previous one, the discount is applied first and then the tax is applied. So the price at first becomes cheaper than the original price, and then it becomes more expensive than the discounted price.

## CLASSES IN PYTHON

Python classes are a fundamental part of object-oriented programming (OOP), allowing for the encapsulation of data and functions that operate on that data in a single entity, known as an object. What does that mean? It means you can create code that can put a nice package around all of the functions you're writing so that they are neat, tidy and not strewn all about the place. 

In the context of global affairs, Python classes can be used to model complex entities and relationships found in international relations, economics, environmental studies, and more. By defining classes, you can create more organized, scalable, and reusable code for analyses, simulations, data processing and visualization.

**Basic Concepts of Python Classes**

*Class*: A blueprint for creating objects. A class defines a set of attributes and methods that are common to all objects instantiated from this class.

*Object*: An instance of a class. Each object can have unique values for the attributes defined by its class.
Attribute: A variable that belongs to an object or class. In the context of global affairs, an attribute could represent data like a country's GDP, population, or carbon emissions.

*Method*: A function that belongs to an object or class and can access or modify the object's attributes. For example, a method might update a country's economic data or calculate its growth rate.

Let's look at some examples where this will become easier to understand:

In [29]:
class Country:
    def __init__(self, name, population, gdp): # three attributes, initializes new instances of the class
        self.name = name
        self.population = population # which is which 
        self.gdp = gdp
    
    def display_info(self): # method 1, why self 
        print(f"Country: {self.name}\nPopulation: {self.population}\nGDP: ${self.gdp} trillion")

    def gdp_per_capita(self): # method 2
        return self.gdp * 1e12 / self.population

In this example, the Country class has three attributes (name, population, gdp) and two methods (display_info and gdp_per_capita). The __init__ method initializes new instances of the class, display_info prints out the country's information, and gdp_per_capita calculates the GDP per capita.

This is how you'd use it:

In [30]:
usa = Country("United States", 331002651, 21.43)
china = Country("China", 1439323776, 14.34)

usa.display_info()
china.display_info()

print(f"GDP per capita (USA): ${usa.gdp_per_capita():.2f}")
print(f"GDP per capita (China): ${china.gdp_per_capita():.2f}")

Country: United States
Population: 331002651
GDP: $21.43 trillion
Country: China
Population: 1439323776
GDP: $14.34 trillion
GDP per capita (USA): $64742.68
GDP per capita (China): $9963.01

**Extending the Model to Include Relationships**
To further apply classes in the context of global affairs, you might define additional classes to represent international organizations, treaties, or global issues, and use methods to model interactions or relationships between countries.

In [31]:
class Treaty:
    def __init__(self, name, member_countries):
        self.name = name
        self.member_countries = member_countries
    
    def add_country(self, country): # self 
        self.member_countries.append(country)
    
    def display_members(self): # self 
        print(f"Treaty: {self.name}\nMembers: {', '.join([country.name for country in self.member_countries])}")

Q13:
Write a class in python that takes country, exchange rate, year, and systemic crisis as parameters and code to calculate the percentage change in exchange rate for two years, and filters for inflation rate 30% or higher.

In [32]:
#your code here:
#data=pd.read_excel('20160923_global_crisis_data.xlsx')

class CountryFinancialData: 
    def __init__(self, country, exchange_rate, year, systemic_crisis, data): 
        self.country=country
        self.exchange_rate=exchange_rate
        self.year=year
        self.systemic_crisis=systemic_crisis
        self.data=data # I wasn't sure how to go about reading data 
    
    def perc_change(self, country, year_before, year_after): # Calculates percentage change in exchange rate 
        row_before=data[data.apply(lambda row: row['Year']==year_before and row['Country']==country, axis=1)]
        exchange_rate_before=row_before['exch_usd'] # Exchange rate before 
        
        row_after=data[data.apply(lambda row: row['Year']==year_after and row['Country']==country, axis=1)]
        exchange_rate_after=row_after['exch_usd'] # Exchange rate after 
         
        percentage_change=(exchange_rate_after-exchange_rate_before)/exchange_rate_before*100
        return percentage_change
        
    def filter_inflation(self): # Filter for high inflation 
        new_data=self.data[self.data.apply(lambda row: row['inflation']>30, axis=1)]
        return new_data

Q14: 
Add an IMF decorator to your class that assumes an IMF intervention that would adjust the inflation rate to a maximum of 18.5%.

In [33]:
#your code here:
def IMF_adjust_inflation(inflation_threshold):
    def decorator(func):
        def wrapper(*args, **kwargs): # If higher than the threshold, inflation is adjusted to 18.5
            self.data=self.data[self.data.apply(lambda row: row['inflation']==18.5 if row['inflation']>inflation_threshold else row['inflation'], axis=1)]
        return wrapper
    return decorator 

class CountryFinancialData: 
    def __init__(self, data, country, inflation, year, systemic_crisis): 
        self.inflation=inflation
        self.year=year
        self.systemic_crisis=systemic_crisis
        self.data=data

    def perc_change(self, country, year_before, year_after): # Calculates percentage change in exchange rate 
        row_before=data[data.apply(lambda row: row['Year']==year_before and row['Country']==country, axis=1)]
        exchange_rate_before=row_before['exch_usd'] # Exchange rate before 
        
        row_after=data[data.apply(lambda row: row['Year']==year_after and row['Country']==country, axis=1)]
        exchange_rate_after=row_after['exch_usd'] # Exchange rate after 
         
        percentage_change=(exchange_rate_after-exchange_rate_before)/exchange_rate_before*100
        return percentage_change
          
    @IMF_adjust_inflation # Add decorater for filter_inflation function -> adjusts inflation for high inflation countries
    def filter_inflation(self):
        self.data[data.apply(lambda row: row['inflation']>30)]
        return data

Q15:
Please confirm that you have access to Anthropic's Claude: https://www.anthropic.com/news/claude-2-1

Your confirmation here: Yes